VITE_API_BASE_URL=http://localhost:3000
VITE_PORT=5000

# VITE_API_BASE_URL=http://localhost:3000
# VITE_PORT=5000

# VITE_GOOGLE_MAPS_API_KEY=
# VITE_GOOG_GMP_CLIENT_SIGNALS=
# VITE_GOOG_MAPS_API_SALT=
# VITE_GOOG_MAPS_API_SIGNATURE=
# VITE_GOOG_MAPS_SESSION_ID=
# VITE_GOOG_USER_AGENT=