@import "tailwindcss";

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}